@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

:root {
  --off-white: hsla(145, 26%, 90%, 1);
  --off-black: hsla(240, 7%, 11%, 1);
  --off-green: hsla(145, 26%, 70%, 1);
  --accent-green: hsla(70, 37%, 51%, 1);
}
html,
body {
  margin: 0;
  padding: 0;
}
.body {
  overflow-x: hidden;
  display: grid;
  place-items: center;
  background-image: url(./assets/pexels-elisa-svensson-11035797.webp);
  background-size: cover;
  background-position: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--off-black);
    opacity: 0.5;
  }
}
.main {
    height: 100vh;
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
}
.content_wrapper {
    display: grid;
  place-items: center;
}
.logo {
  width: 50px;
  height: 50px;
  fill: var(--off-white);
}

.animated_wrapper {
  font-family: "Caveat Brush", sans-serif;
  width: 100vw;
  height: 100%;
}
.animated_wrapper .animated_text {
  animation: stroke 6s alternate;
  stroke-width: 0;
  stroke: var(--off-white);
  fill: var(--off-white);
  font-size: 72px;
}
@keyframes stroke {
  0% {
    fill: rgba(223, 236, 228, 0);
    stroke: var(--off-white);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 1;
  }
  70% {
    fill: rgba(223, 236, 228, 0);
    stroke: var(--off-white);
  }
  80% {
    fill: rgba(223, 236, 228, 0);
    stroke: var(--off-white);
    stroke-width: 1;
  }
  100% {
    fill: var(--off-white);
    stroke: rgba(223, 236, 228, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.button {
    background-color: var(--off-green);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--off-white);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in;
}
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--accent-green);
    transition: left 0.3s ease;
    z-index: 0;
}
.button:hover {
    background: var(--accent-green);
}
.button:hover::before {
    left: 0;
}
.button_icon {
    max-width: 2rem;
    max-height: 2rem;
    z-index: 1;
}
.button_text {
    z-index: 1;
}
.footer {
    position: relative;
    background-color: var(--off-black);
    width: 100%;
    color: var(--off-white);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding-block: 0.5rem;
    font-size: 0.8rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: var(--accent-green);
    }
}


/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #BBBBC4;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #31543F;
    
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4B8161;
  }